<mat-grid-list [cols]="1">
  <mat-grid-tile-header>
    <table>
      <tr>
        <td>
          <img src="../../../../assets/logo-new.jpg" alt="logo" />
        </td>
        <td>
          <button mat-button color="primary">
            INÍCIO
            <mat-icon>home</mat-icon>
          </button>
        </td>
        <td>
          <button mat-button color="primary">
            NOVO
            <mat-icon>add</mat-icon>
          </button>
        </td>
        <td>
          <button mat-button color="primary">
            SAIR
            <mat-icon>logout</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </mat-grid-tile-header>
</mat-grid-list>
