<body>
  <mat-grid-tile-header>
    <app-navbar></app-navbar>
  </mat-grid-tile-header>
  <mat-grid-list cols="1" rowHeight="250px">
    <mat-list-item>Nova Proposta</mat-list-item>

    <mat-divider></mat-divider>

    <form [formGroup]="formProposal" (ngSubmit)="create()">
      <mat-form-field>
        <input
          type="text"
          placeholder="Plano"
          aria-label="plan"
          formControlName="planId"
          matInput
          [matAutocomplete]="planAutoComplete"
        />
        <mat-autocomplete #planAutoComplete="matAutocomplete">
          <mat-option *ngFor="let plan of planOptions" [value]="plan.id"> {{ plan.id }} - {{ plan.name }} </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Usuário"
          aria-label="client"
          formControlName="clientDocument"
          matInput
          [matAutocomplete]="clientAutocomplete"
        />
        <mat-autocomplete #clientAutocomplete="matAutocomplete">
          <mat-option *ngFor="let client of clientOptions" [value]="client.document">
            {{ client.fullName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input formControlName="amount" matInput type="text" class="example-right-align" />
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!formProposal.valid" color="primary">SALVAR</button>
    </form>
  </mat-grid-list>
</body>
