<body>
  <mat-grid-tile-header>
    <app-navbar></app-navbar>
  </mat-grid-tile-header>

  <mat-grid-list cols="1" rowHeight="300px">
    <form (ngSubmit)="save()">
      <mat-form-field>
        <input
          type="text"
          placeholder="Plano"
          [(ngModel)]="proposalEntity.planId"
          aria-label="plan"
          matInput
          [matAutocomplete]="planAutoComplete"
        />
        <mat-autocomplete #planAutoComplete="matAutocomplete">
          <mat-option *ngFor="let plan of planOptions" [value]="plan.id"> {{ plan.id }} - {{ plan.name }} </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="Usuário"
          [(ngModel)]="proposalEntity.clientDocument"
          aria-label="client"
          matInput
          [matAutocomplete]="clientAutocomplete"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-autocomplete #clientAutocomplete="matAutocomplete">
          <mat-option *ngFor="let client of clientOptions" [value]="client.document">
            {{ client.fullName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="text" [(ngModel)]="proposalEntity.amount" class="example-right-align" />
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">SALVAR</button>
    </form>
  </mat-grid-list>
</body>
