#toolbar {
  width: 100%;
}

body {
  background-color: orange;
}

mat-grid-list {
  width: 80%;
  background-color: white;
  left: 9%;
  right: 9%;
  top: 5%;
  padding: 2%;
}

mat-form-field {
  width: 100%;
}

mat-list-item {
  font-size: 18px;
  font-family: monospace;
}
