.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.align {
  text-align: center;
}

mat-card {
  padding: 4%;
  width: 40%;
}

a,
mat-form-field {
  width: 100%;
}

body {
  background-color: #022a5e;
}

.mat-card-image {
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

.mat-flat-button {
  background-color: orange;
  color: #000000;
}
